/* Just the HMTL styling with plain CSS*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #111111;
}

section {
    width: 90%;
    max-width: 500px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section header a ion-icon {
    font-size: 32px;
    cursor: pointer;
    color: #000000;
}

section form {
    width: 100%;
    border: 1px solid #A6A6A6;
    border-radius: 10px;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

[data-key-word-input] {
    border: none;
    border-radius: 4px;
    padding: 4% 2%;
    background-color: #F2F2F2;
    font-size: 14px;
    flex-grow: 1;
}

[data-key-word-input]:focus {
    outline: 1px solid #034BAF;
    padding-left: 2%;
    font-size: larger;
    box-shadow: 0 0 10px 2px rgba(0, 0, 255, 0.5);
    font-size: 14px;
}

[data-key-word-button] {
    padding: 0 3%;
    border: none;
    background-color: #FF9900;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    flex-grow: 0;
    text-align: center;
}

[data-key-word-button]:hover {
    background-color: #dd8603;
}

[data-key-word-button]:focus {
    outline: 1px solid #034BAF;
    box-shadow: 0 0 10px 2px rgba(0, 0, 255, 0.5);
}

[data-key-word-results] {
    border-radius: 10px;
    padding: 3%;
    height: 300px;
    border: 1px solid #A6A6A6;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #F2F2F2;
}

div[data-key-word-results]::-webkit-scrollbar {
    width: 10px;
}

div[data-key-word-results]::-webkit-scrollbar-thumb {
    background-color: #FF9900;
    border-radius: 10px;
}
 
[data-key-word-results] span {
    font-weight: 900;
}

[data-error-window].active {
    display: grid;
    justify-content: center;
    align-items: center;
}

[data-error-window] {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    z-index: 1;
}

[data-error-window] [data-error-box] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #A6A6A6;
    width: 90%;
    max-width: 460px;
    height: auto;
    /* padding: 4%; */
    background-color: #FFFFFF;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
}

[data-error-window] [data-error-box] header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

[data-error-window] [data-error-box] header ion-icon {
    font-size: 42px;
    color: #FF9900;
    padding-top: 6%;
}

[data-error-window] [data-error-box] header span {
    margin-left: 3px;
    padding-top: 2%;
    padding-bottom: 2%;
}

[data-error-window] [data-error-box] [data-error-span] {
    display: block;
    text-align: center;
    padding-bottom: 6%;
}

[data-error-window] [data-error-box] [data-error-button] {
    width: 100%;
    padding: 4%;
    background-color: #FF9900;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}


[data-error-window] [data-error-box] [data-error-button]:hover {
    background-color: #dd8603;
}