/* Just the HMTL styling above 600px with plain CSS*/

@media (min-width:600px) {
    body {
        display: flex;
        justify-content: space-evenly;
    }

    section {
        padding: 1.4%;
    }

    [data-key-word-input] {
        padding: 3% 2%;
        font-size: 18px;
    }

    [data-key-word-input]:focus {
        padding: 3% 2%;
        font-size: 18px;
    }

    [data-key-word-button] {
        padding: 0 3%;
    }

    [data-key-word-results] {
        padding: 1.4%;
        max-width: initial;
        max-height: initial;
    }
}